# 模型文件
checkpoints/*.pth
*.pth
*.pt
*.mp4
dataset/
__pycache__/
.idea/
# 数据集文件 - 保留目录但忽略内容
data/
runs/
datasets/
# 忽略虚拟环境
venv/
.venv/
env/

# 忽略临时文件
*.log
*.bak

# 但保留空目录的标记文件（可选）
!data/SDNET2018_extracted/.gitkeep
!data/train/.gitkeep
!data/val/.gitkeep
!checkpoints/.gitkeep

# 其他需要忽略的文件
*.pkl
*.pickle
*.zip
*.tar.gz
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 忽略虚拟环境文件夹 (假设你的环境叫 venv 或 .venv 或 env)
venv/
.venv/
env/
.env/



# 忽略大文件和库文件
*.dll
*.lib

*.pyd

# 忽略数据集和模型权重

*.rar
*.tar
*.onnx

# 忽略临时文件
*.log